**.vscode**
**./Ejemplo1/.vscode**
Ejemplo 1/Ejemplo1_1_Creacion.exe
Ejemplo 1/Ejemplo1_2_Lectura.exe
Ejemplo 1/Ejemplo1_3_Escritura.exe
Ejemplo 1/Ejemplo1_4_SEEK.exe
Ejemplo 1/tempCodeRunnerFile.cpp
