**.vscode**
**./Ejemplo1/.vscode**
Ejemplo 1/Ejemplo1_1_Creacion.exe
Ejemplo 1/Ejemplo1_2_Lectura.exe
Ejemplo 1/Ejemplo1_3_Escritura.exe
Ejemplo 1/Ejemplo1_4_SEEK.exe
Ejemplo 1/tempCodeRunnerFile.cpp
Ejemplo 2/Ejemplo2.dsk
Ejemplo 2/Ejemplo2.exe
Ejemplo 2/tempCodeRunnerFile.cpp
Ejemplo 3/Ejemplo3.dsk
Ejemplo 3/Ejemplo3.exe